bowtie2 2.3.4
samtools 1.7
bedtools 2.25.0
cutadapt 1.16
dash==0.41.0
dash_bootstrap_components==0.5.0
dash_core_components==0.46.0
dash_html_components==0.15.0
dash_table==3.6.0
Flask==1.0.2
pysam==0.14.1
fuzzywuzzy==0.16.0
seaborn==0.8.1
XlsxWriter==1.0.5
numpy==1.14.3
matplotlib==2.2.2
scipy==1.1.0
pandas==0.23.0
regex==2019.04.14
python-Levenshtein==0.12.0
biopython==1.71

